<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImageSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageSimulator.Properties.Settings>
            <setting name="PretreatmentDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="TreatmentDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="OuputDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="DelaySeconds" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FrequencyMS" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TreatmentArc2Directory" serializeAs="String">
                <value/>
            </setting>
            <setting name="PatientDirectory" serializeAs="String">
                <value/>
            </setting>
        </ImageSimulator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
